@import url('demo.css');
@import url('common.css');
@import url('icons.css');

.cd-dropdown ul {
	position: absolute;
	top: 0px;
	width: 100%;
}

.cd-dropdown > span,
.cd-dropdown ul li {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-dropdown ul li {
	position: absolute;
	width: 100%;
	pointer-events: none;
}

.cd-active.cd-dropdown > span {
	color: #e66b20;
}

.cd-active.cd-dropdown ul li {
	pointer-events: auto;
}

.cd-active.cd-dropdown ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li span:hover {
	background: #e66b20;
	color: #fff;
}

/* Animate select */
/* .select{
	border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px #E8E8E8 inset;
} */

@media screen and (max-width: 959px) {
	#cont {
		 width: 100% ;
	 }
	#quest_1 {
		 width: 20% ;
	 }
	#quest_2 {
		width: 20% ;
	}
	#quest_3 {
		width: 20% ;
	}
	#quest_4 {
		width: 20% ;
	}
	#quest_5 {
		width: 20% ;
	}
}
#desc {
	width: 500px ;
	border-radius: 6px ;
}